*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
   background-image: url("https://transporter.techvrm.com/SignUpAssets/img/backgrounds/1@2x.jpg");
}
#UserLoginSignupMain{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
#userRegister{
    width: 40%;
    height: 500px;
    box-shadow: rgb(169, 174, 179) 3px 3px 6px 0px inset, rgba(140, 140, 140, 0.5) -3px -3px 6px 1px inset;
    border-radius: 10px;
    margin: auto;
    padding-top: 20px;
}
#userRegister>h1{
    color: white;
    text-align: center;
    font-size: 28px;
}
#userRegister>input{
    width: 90%;
    height: 35px;
    display: block;
    margin: auto;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    background-color: transparent;
    border-bottom: 2px solid white;
}
#userRegister>button{
    width: 120px;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
}
#userRegister>button:hover{
    background-color: #4391C2;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    color: white;
}
::placeholder{
    color: black;
}
#userLogin{
    width: 40%;
    height: 220px;
    box-shadow: rgb(169, 174, 179) 3px 3px 6px 0px inset, rgba(140, 140, 140, 0.5) -3px -3px 6px 1px inset;
    border-radius: 10px;
    padding-top: 20px;
}
#userLogin>h1{
    color: white;
    text-align: center;
    font-size: 28px;
}
#userLogin>input{
    width: 90%;
    height: 35px;
    display: block;
    margin: auto;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    background-color: transparent;
    border-bottom: 2px solid white;
}
#userLogin>button{
    width: 120px;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
}
#userLogin>button:hover{
    background-color: #4391C2;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    color: white;
}